<div class="row">
  <div class = "col-md-8">
    <div class="panel panel-default">
      <div class="panel-heading">
        <%=title%>

      </div>
      <div class="panel-body">
        <%= bootstrap_form_for(@subtype) do |f| %>
          <div class="form-group">
            <label>Typ publikacji</label>
            <input list="types" class="form-control" name= "kind" autocomplete="off"
              value="<%= @subtype.publication_type_name %>">
            <datalist id="types">
              <% @type_list.each do |n|%>
                <option value="<%= n %>"></option>
              <% end %>
            </datalist>
          </div>
          <div class="form-group">
            <label>Podtyp publikacji</label>
            <input list="name" class="form-control" name="name" autocomplete="off"
              value="<%= @subtype.name %>">
            <datalist id="name">
              <% @subtype_list.each do |n|%>
                <option value="<%= n %>"></option>
              <% end %>
            </datalist>
          </div>
          <%= f.submit "Zapisz" %>
        <% end %>
      </div>
      <div class="panel-footer">
        <%= link_to 'Back', publication_subtypes_path,class: "label label-primary" %>
      </div>
    </div>
  </div>
</div>

