
<%= bootstrap_form_for(@publication , html: {id: "main_form"} ) do |f| %>
  <div class="row">
    <div class="col-md-6">
      <%= render partial: 'simple_form' , locals: {f: f} %>
    </div>
    <div class="col-md-6">
      <%= render partial: 'additional_attr' %> 
    </div>
    <input type="text" hidden="true" id="pub_id" value="<%= @publication.id %>">
  </div>
  <%= f.submit "Zapisz" %>
<% end %>
<!--  -->
<script>
$("#author_select").chosen({
	width:"100%",
	placeholder_text_multiple: "Wybierz autorów"
});
$("#type_select").chosen({
	width:"100%"
})
</script>