<li class="list-group-item libib">
  <span class="pull-right label label-success">
    <%= link_to fa_icon("file", text: "Pokaż"), publication if can? :read , publication %>
    <%= link_to fa_icon("remove", text: "Usuń"), publication, method: :delete, data: { confirm: 'Are you sure?' } if can? :destroy , publication %>
  </span>  
  <span class="pull-right label label-default">
    <%= publication.user.email %> 
  </span>
  <span>
    <%= publication.biblio_authors %>,
    <i> <%= link_to publication.title , publication %>, </i>
    <%=publication.publication_subtype.full_name%>
  </span>     
</li>
