<h1>Listing publications</h1>

<table class="table table-bordered">
  <thead>
    <tr>
      <th>Publikacja numer</th>
      <th>Tytuł</th>
      <th>Typ</th>
      <th>Dodane przez</th>
      <th>Akcje</th>
    </tr>
  </thead>

  <tbody>
    <% @publications.each do |publication| %>
      <tr>
        <td> <%=publication.id%></td>
        <td> <%= link_to publication.title , publication %></td>
        <td> <%=publication.publication_subtype.full_name%></td>
        <td> <%=User.find(publication.user_id).email %></td>
        <td><%= link_to 'Show', publication %>
        <%= link_to 'Edit', edit_publication_path(publication) %>
        <%= link_to 'Destroy', publication, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
     <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Publication', new_publication_path %>
<!--  -->