<h3></h3>
<div class="row">
  <div class="col-md-8">
    <div class="panel panel-default">
      <div class="panel-heading">
        <strong>Lista publikacji</strong>
         <%= render 'shared/pdf_link' %>
         <%= link_to 'Nowa publikacja', new_publication_path , class: "label label-primary pull-right" if can? :create , Publication  %>
      </div>
      <% if @publications.any? %>
        <ul class="list-group">
          <%= render @publications %>
        </ul>
      <% else %>
        <div class="panel-body"> Brak publikacji </div>
      <% end %>
      <div class="panel-footer">   
        <%= will_paginate @search.hits %> 
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <div class="panel panel-default">
      <div class="panel-heading"><strong>Wyszukiwanie</strong></div>
      <div class="panel-body">
        <%= render  'shared/search_form' %>
      </div>
      <div class="panel-footer">

      </div>
    </div>
  </div>
</div>

<br>


<!--  -->