<li class="list-group-item">
	<strong><%= link_to author.full_name , author %></strong>,
	<%= author.email %>
	<%= link_to "Publikacje: #{author.publications.count}" , author , class: "badge pull-right" %>
	<%= link_to "Usuń" , author , method: :delete , data: { confirm: 'Are you sure?' } , class: "badge pull-right" if can? :destroy , author %>
	<%= link_to "Edytuj" , edit_author_path(author) , class: "badge pull-right" if can? :edit , author %>
</li>