<div class="row">
	<div class="col-md-8">
		<div class="panel panel-default">
			<div class="panel-heading">
				<%= title %>
			</div>
			<div class="panel-body">
				<%= bootstrap_form_for @author do |author| %>
				 	<%= author.error_summary %>
					<%= author.text_field :name , label: "Imie", autofocus: true %>
     				<%= author.text_field :surname, label: "Nazwisko" %>
     				<%= author.email_field :email , label: "Adres e-mail" %>
					<%= author.form_group :academic_degree , label: { text: "Tytuł naukowy" }  do %>
					        <%= author.radio_button :academic_degree , "" , label: "brak" , chacked: true %>
					        <%= author.radio_button :academic_degree , "inż. " , label: "inżynier" %>
					        <%= author.radio_button :academic_degree , "mgr " , label: "magister" %>
					        <%= author.radio_button :academic_degree , "dr " , label: "doktor" %>
					        <%= author.radio_button :academic_degree , "prof. " , label: "profesor" %>
					<% end %>
					<%= author.submit "Zapisz" , class: "btn btn-primary" %>
				<% end %>
			</div>
			<div class="panel-footer">
				<%= link_to "Powrót" , @author %>
			</div>
		</div>
	</div>
</div>