<div class="panel-heading">
		Dodano autora
</div>
<div class="panel-body">
	<% if activity.owner %>
		Użytkownik: <strong><%= link_to activity.owner.full_name , activity.owner.author %> </strong>
		dodał nowego  autora:
		 <strong>
			<% if activity.trackable %>
				<%= link_to activity.trackable.full_name , activity.trackable%>.
			<% else %>
				<%= activity.info %>
			<% end %>
		</strong>
	<% else %>
		Użytkownik <strong><%= activity.trackable.full_name %></strong> zarejestrował się w systemie.
	<% end %>
</div>
<div class="panel-footer">
	<%= time_ago_in_words(activity.created_at) %> ago
</div>