<div class = "row">
	<div class="col-md-8">
		<div class="panel panel-default">
			<div class="panel-heading">
				<%= title %>
			</div>
			<div class="panel-body">
				<%= bootstrap_form_for(@publication_type) do |f| %>
				  <%= f.error_summary %>
				  <%= f.text_field :name , label: "Nazwa" , required: true %>
				  <%= f.fields_for :publication_attributes do |a| %>
				  	<%= a.select(:id,options_for_select(@attrs,@selected),{label: "Atrybuty"},{multiple: true,:id=>"attributes"} )%>
				  <% end %>  
				  <%= f.submit "Zapisz" , class: "btn btn-primary" %>
				<% end %>
			</div>
			<div class="panel-footer">
				<%= link_to 'Powrót', publication_types_path, class: "label label-primary" %>
			</div>
		</div>
	</div>
</div>


<!--  -->